<li>
    <div id="timesuggestion_<%= timesuggestion.id %>" class="timesuggestion">
        <table>
            <thead>
                <tr>
                    <td>
                        <a class="header" data-tsid="timesuggestion_<%= timesuggestion.id %>" href="/event/<%= @event.id %>/suggestion/<%= timesuggestion.id %>">
                            <h2><%= timesuggestion.time.strftime "%d.%m.%Y %H:%M" %></h2>
                        </a>
                    </td>
                    <td class="oktext">
                        Suitable
                    </td>
                <tr>
            </thead>
            <tbody>
                <tr>
                    <td><progress value="<%= timesuggestion.responseOkCount %>" max="<%= timesuggestion.responseCount %>"></progress></td>
                    <td>
                        <input class="ts_checkbox" name="response_<%= timesuggestion.id %>" type="checkbox"></input>
                    </td>
                </tr>
                <tr>
                    <td>
					<div class="status">
                        &nbsp; <!-- why, oh why -->
                        <span class="absolute ok">
                            <%= timesuggestion.responseOkCount %>
                        </span>
                        <span class="absolute not_ok">
                            <%= timesuggestion.responseCount-timesuggestion.responseOkCount %>
                        </span>
					</div>
                    </td>
                </tr>
                <tr>
                    <td><button class="commentbutton" data-tsid="timesuggestion_<%= timesuggestion.id %>">Comments</button></td>
                </tr>
            </tbody>
        </table>
        <div class="details">
            <%= erb :userresponsetable_inline, :locals => { :timesuggestion => timesuggestion } %>
        </div>
        <div class="comments <%if session[:opencomments] == "timesuggestion_#{timesuggestion.id}" %>open<%end%>">
            <%= erb :commentstable, :locals => { :timesuggestion => timesuggestion } %>
        </div>
    </div>
</li>
